@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
}

p {
    padding: 20px 0;
}

.main_header {}

.header_logo {
    padding: 0px 0;
    display: flex;
    justify-content: center;
}

.main_nav {
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main_nav .mobile {
    display: none;
}

.main_nav .mobile h3 {
    color: #fff;
    padding: 10px 0;

}

.main_nav ul {
    display: flex;
    padding: 15px 0;

}

@media screen and (max-width: 768px) {
    .main_nav ul {
        display: none;
    }

    .main_nav .mobile {
        display: block;
    }
}

.main_nav ul li {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

.main_nav ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;

}

.main_nav ul li a:hover {
    color: lightblue;
}

.banner {
    background-image: url('./assets/images/banner.jpg');
    background-position: center;
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_backdrop {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(99, 95, 95);
    opacity: 0.5;
}

.banner_heading {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;

}

.banner_heading h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;

}

.body_sub_heading {
    padding: 50px 0
}

.body_sub_heading h2 {
    color: black;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.about_section {
    display: flex;
}

.about_section .left {
    padding: 50px;
    width: 50%;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px 0 50px;
}

.about_section .right {
    width: 50%;
    padding-left: 30px;
    background-image: url('./assets/images/cap.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;


}

.about_section2 {
    display: flex;
}

.about_section2 .left {
    padding: 50px;
    width: 50%;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px 0 50px;
}

.about_section2 .right {
    width: 50%;
    padding-left: 30px;
    background-image: url('./assets/images/cap2.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;


}

.about_section3 {
    display: flex;
}

.about_section3 .left {
    padding: 50px;
    width: 50%;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px 0 50px;
}

.about_section3 .right {
    width: 50%;
    padding-left: 30px;
    background-image: url('./assets/images/cap3.png');
    background-position: center;
    background-size: cover;
    min-height: 300px;
}

.contact {
    padding: 50px 0 50px 0;
}

.send {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}


@media screen and (max-width: 768px) {
    .about_section {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .about_section .left {
        width: 100%;
        margin-bottom: 20px;
    }

    .about_section .right {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .about_section2 {
        display: flex;
        flex-direction: column;
    }

    .about_section2 .left {
        width: 100%;
        margin-bottom: 20px;
    }

    .about_section2 .right {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .about_section3 {
        display: flex;
        flex-direction: column;
    }

    .about_section3 .left {
        width: 100%;
        margin-bottom: 20px;
    }

    .about_section3 .right {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
    }
}